<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="body-background">
                <div class="row nav-layout">
                    <div class="logo"><img width="100" src="~/Images/joole_logo.png" /></div>
                    <div class="dropdown dropdown-search">
                        <input id="categoryId" type="hidden" />
                        <button class="btn btn-primary dropdown-toggle" id="categoryMenu" type="button" data-toggle="dropdown">
                            Category
                            <span class="caret"></span>
                        </button>
                        <input type="text" id="subCategory" />
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1"></ul>
                    </div>
                </div>
            </div>
        </div>
    <div class="body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/custom.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
